@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li id="LogoSpot"></li>
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@section Scripts {
<script>
    //Gets the Logo.png for the current user, and displays it next to the name
    $.ajax({
        url: 'https://api.twitch.tv/kraken/user',
        type: 'GET',
        dataType: 'json',
        success: function (result) {
            $("#LogoSpot").html("<img src='" + result.logo + "'></img>");
        },
        beforeSend: setAuthHeader
    });

    function setAuthHeader(xhr) {
        var token = "@ViewBag.token";
        xhr.setRequestHeader('Accept', 'application/vnd.twitchtv.v5+json');
        xhr.setRequestHeader('Client-ID', 'kx6k6d64t0ok27s5sfyo1w5n1q3dn6');
        xhr.setRequestHeader('Authorization', 'OAuth ' + token);
    };

</script>   
    
    
}