@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <aside>
        <div class="collapse in" id="sidebar" style=" z-index: 2; ">
            <ul class="sidebar-menu" id="nav-accordion">
                    <li id="LogoSpot" class="centered"></li>;
                    <li class="centered UsernameDisplay">
                        @User.Identity.GetUserName()
                    </li>
            </ul>
        </div>
    </aside>
}
else
{
    <aside>
        <div class="collapse in" id="sidebar" style=" z-index: 2; ">
            <ul class="sidebar-menu" id="nav-accordion">
                    <li class="centered" id="LogoSpot"><img src="~/Content/default-avatar.png" alt="Avatar" class="img-circle" width="100" /></li>;
                    <li class="centered UsernameDisplay" id="UserNameDisplay">Guest</li>
            </ul>
        </div>
    </aside>
}