@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <aside>
        <div class="collapse in" id="sidebar" style=" z-index: 2; ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="centered"><a href="/Users"><img src="@ViewBag.CurrentUsersAvatar" alt="Avatar" class="img-circle" width="150" /></a></li>
                <li class="centered UsernameDisplay textify tshad"  style="word-wrap: break-word">
                    @ViewBag.CurrentUsersUserName
                </li>
            </ul>
            <ul class="sidebar-menu sideTwitch" id="nav-accordion">
                <li class="centered sideTwitch"><a href="@ViewBag.CurrentUsersTwitchPage"><img src="~/Content/Twitch_logo.png" width="125" /></a></li>
            </ul>
        </div>
    </aside>
}
else
{
    <aside>
        <div class="collapse in" id="sidebar" style=" z-index: 2; ">
            <ul class="sidebar-menu" id="nav-accordion">
                    <li class="centered"><img src="~/Content/default-avatar.png" alt="Avatar" class="img-circle" width="150" /></li>
                    <li class="centered UsernameDisplay textify tshad"  style="word-wrap: break-word">TConnorsBitsmiths</li>
            </ul>
        </div>
    </aside>
}