@using TwitchGuide.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>Login With Twitch</h2>
<div class="row">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}