
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<hr />
<br />
<br />
<div class="AboutUsWhyWeMadeItHeader">
    Why We Made TCG
</div>
<hr />
<div class="AboutUsWhyWeMadeIt">
    The Twitch Channel Guide is a web app that helps Twitch users better navigate Twitch. 
    Twitch is a broadcasting service specifically targeted at video game players. 
    With Twitch, users can stream their game play from a personal computer, video game console or handheld device. 
    The Twitch Channel Guides purpose is to simplify and enchance each user's streaming experience.
</div>
<hr />

<br />
<br />
<br />
<div class="AboutUsUsers">
    <div class="AboutImage"><img src="~/Content/default-avatar.png" alt="Avatar" height="200" width="200" /></div>
    <div class="AboutName">Brandon Hunt</div><br    />
    <div class="AboutDescription">

    </div>
    <div class="AboutEducation">    
        <h4>Education:</h4><br />
        Western Oregon University,  Monmouth, Oregon 2017<br />
        Bachelor of Science in Computer Science
    </div>
</div>

<div class="AboutUsUsers">
    <div class="AboutImage"><img src="~/Content/TylerAvatar.png" alt="Avatar" height="200" width="200" /></div>
    <div class="AboutName">Tyler Connors</div><br   />
    <div class="AboutDescription"> 
        I've been using computers since I was young. My goal is to get a job creating video games.
    </div>
    <div class="AboutEducation">
        <h4>Education:</h4><br />
        Western Oregon University,  Monmouth, Oregon 2017<br />
        Bachelor of Science in Computer Science
    </div>
</div>

<div class="AboutUsUsers">
    <div class="AboutImage"><img src="~/Content/KyleAvatar.jpg" alt="Avatar" height="200" width="200" /></div>
    <div class="AboutName">Kyle Walsh</div><br    />
    <div class="AboutDescription">
     My goal is to become a Game developer and eventually work on AAA Titles.
    </div>
    <div class="AboutEducation">
        <h4>Education:</h4><br />
        Western Oregon University,  Monmouth, Oregon 2017<br />
               Bachelor of Science in Computer Science
    </div>
</div>