
@{
    ViewBag.Title = "AboutUs";
}

<br />
<br />
<div class="AboutUsWhyWeMadeItHeader">
    Why We Made TCG
</div>
<hr />
<div class="AboutUsWhyWeMadeIt">
    The Twitch Channel Guide is a web app that helps Twitch users better navigate Twitch. 
    Twitch is a broadcasting service specifically targeted at video game players. 
    With Twitch, users can stream their game play from a personal computer, video game console or handheld device. 
    The Twitch Channel Guides purpose is to simplify and enchance each user's streaming experience.
</div>
<hr />
<br />
<br />
<div class="AboutUsUsers">
    <div class="AboutName">Brandon Hunt</div><br />
    <div class="AboutImage"><img src="~/Content/BrandonAvatar.png" alt="Avatar" height="200" width="200" /></div>
    <br />
    <h4>About Me:</h4>
    <div class="AboutDescription">
        Husband, student, and reluctant puppy owner. 
        In my free time I like to I get angry at video games.
    </div>
    <br />
    <h4>Education:</h4>
    <div class="AboutEducation">    
        Western Oregon University,  Monmouth, Oregon 2017<br />
        Bachelor of Science in Computer Science
    </div>
    <hr />
</div>
<br />
<div class="AboutUsUsers">
    <div class="AboutName">Tyler Connors</div><br />
    <div class="AboutImage"><img src="~/Content/TylerAvatar.png" alt="Avatar" height="200" width="200" /></div>
    <br />
    <h4>About Me:</h4>
    <div class="AboutDescription">
        I've been using computers since I was young. My goal is to get a job creating video games.
    </div>
    <br />
    <h4>Education:</h4>
    <div class="AboutEducation">
        Western Oregon University,  Monmouth, Oregon 2017<br />
        Bachelor of Science in Computer Science
    </div>
    <hr />
</div>
<br />
<div class="AboutUsUsers">
    <div class="AboutName">Kyle Walsh</div><br />
    <div class="AboutImage"><img src="~/Content/KyleAvatar.jpg" alt="Avatar" height="200" width="200" /></div>
    <br />
    <h4>About Me:</h4>
    <div class="AboutDescription">
     My goal is to become a game developer and eventually work on AAA titles.
    </div>
    <br />
    <h4>Education:</h4>
    <div class="AboutEducation">
        Western Oregon University,  Monmouth, Oregon 2017<br />
               Bachelor of Science in Computer Science
    </div>
    <br />
</div>