@model IEnumerable<TwitchGuide.Models.User>

@{
    ViewBag.Title = "TwitchGuide Users";  
    HtmlString temp;
}

<h2>All Users</h2>
<div style="padding-bottom:50px;">
    @foreach (var item in Model)
    {

        <hr />
        <div class="UserItem">
            @if (item.Avatar.IsEmpty() == false)
            {
                temp = new HtmlString(item.Avatar);
                <img src="@item.Avatar" alt="Avatar" height="50" width="50" /><span style="display:inline-block; width:25px;"></span>@Html.ActionLink(item.Username, "goToUser", "Home", new { name = item.Username }, null)
            }
            else
            {
                <img src="~/Content/default-avatar.png" alt="Avatar" height="50" width="50" /><span style="display:inline-block; width:25px;"></span>@Html.ActionLink(item.Username, "goToUser", "Home", new { name = item.Username }, null)
            }
        </div>
    }
</div>