@{
    ViewBag.Title = "Home";
}
<body>
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <iframe src="http://player.twitch.tv/?channel=streamerhouse&muted=true"
            height="300"
            width="400"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"></iframe>

    <!--main content end-->


</body>
</html>
