@{
    ViewBag.Title = "Home";
}
<h3 id="userstats" onload="getName()">Null</h3>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    function getName() {
        var xmlhttp = new XMLHttpRequest(),
    url = 'https://api.twitch.tv/kraken/user?&client_id=kx6k6d64t0ok27s5sfyo1w5n1q3dn6'
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var info = JSON.parse(this.responseText);
                document.getElementById('userstats').innerHTML = info;
            }
        }
        xmlhttp.open('GET', url, true);
        xmlhttp.send();
    }
</script>



