@{
    ViewBag.Title = "Home";
}

<a href="#" class="click">click here for avatar</a>
<a href="#" class="click2">click here</a>
<br />
<div id="userstats"></div>

@section Scripts {
<script>
    $('.click').click(function () {
        $.ajax({
            url: 'https://api.twitch.tv/kraken/streams/?game=Overwatch',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $("#userstats").html(result);
            },
            beforeSend: setHeader
        });
        return false;
    });

    function setHeader(xhr) {
        xhr.setRequestHeader('Client-ID', 'kx6k6d64t0ok27s5sfyo1w5n1q3dn6');
    };
</script>
<script>
    $('.click2').click(function () {
        $.ajax({
            url: 'https://api.twitch.tv/kraken/user?',
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                $("#userstats").html(result);
            },
            beforeSend: setHeader
        });
        return false;
    });

    function setHeader(xhr) {
        var token = @ViewBag.token;
        token = token.toString();
        //token = rnum.split("F0").pop()
        xhr.setRequestHeader('Client-ID', 'kx6k6d64t0ok27s5sfyo1w5n1q3dn6');
        xhr.setRequestHeader('Authorization:', token);
    };
</script>
}

