@{
    ViewBag.Title = "Home";
}<p>
    <iframe src="http://player.twitch.tv/?channel=streamerhouse&muted=true"
            height="300"
            width="400"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"></iframe>
</p>
<h3 id="userstats"></h3>

<script src="~/Scripts/username.js">
</script>



