@{
    ViewBag.Title = "Login Successful!";
}

<h3>Login Successful!</h3>
<h4>Congratulations, you've successfully logged in. You may return to the @Html.ActionLink("home page.", "Index", "Home")</h4>